@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
  background-color: rgb(34, 34, 36);
  color: #fff;
  margin: 0;
}

.slides{
  background-image: url('images/givemegold-2.jpg');
}
